footer {
    background-color: #026402;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.8rem;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}