@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    background-color: #b4f8b4;
}

footer {
    background-color: #008000;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.9rem;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

a:link {
    color: #101110f3;
}

a:hover {
    color: #6abb7e;
}

ol {
    padding: 0px;
    list-style: none;
}